# Dependency directories
telegram-app/node_modules/
jspm_packages/

# dotenv environment variables file
telegram-app/.env

.idea

# FRONTEND
frontend-app/.DS_Store
frontend-app/node_modules
frontend-app/dist

# FRONTEND local env files
frontend-app/.env.local
frontend-app/.env.*.local
frontend-app/.env

# FRONTEND Log files
frontend-app/npm-debug.log*
frontend-app/yarn-debug.log*
frontend-app/yarn-error.log*
frontend-app/pnpm-debug.log*


# BACKEND
backend-app/.DS_Store
backend-app/node_modules
backend-app/dist

# BACKEND local env files
backend-app/.env.local
backend-app/.env.*.local
backend-app/.env

# BACKEND Log files
backend-app/npm-debug.log*
backend-app/yarn-debug.log*
backend-app/yarn-error.log*
backend-app/pnpm-debug.log*

# BACKEND uploads files
backend-app/uploads/*

